[Unit]
Description=Coriolis OVM exporter
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/coriolis-ovm-exporter -config /etc/coriolis-ovm-exporter/config.toml
Restart=always
RestartSec=5s
# Change this to the user you want the coriolis
# ovm exporter daemon to run under.
User=root

[Install]
WantedBy=multi-user.target
